*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
     
}

div {
    align-items: center;
    justify-self: center;
}
html
{
    overflow: hidden;
    background-color: #87CEEB; /* Sky blue background */
}

body
{
    align-items: self-start;
    height: 100vh;
    background: #87CEEB; /* Sky blue background */
}
.button {
    position: block;
    color: orangered;
    text-decoration: none;
    padding: 30px 60px;
    letter-spacing: 2px;
    border: 3px solid #3c67e3;
    border-radius: 10px;
}
.button:hover 
{
    animation: pulse 1.4s ease-in-out infinite;
}

@keyframes pulse {
    0%
    {
        box-shadow: 0 0 25px #5ddcff,
                    0 0 50px #4e00c2;
    }
}




